<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uj.yuri.budgetflow">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/walleticon"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name=".MActivity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NActivity.InOutActivity"
            android:label="@string/title_activity_new_income_outcome"
            android:theme="@style/MyMaterialTheme"
            android:parentActivityName=".MActivity.MainActivity" >

        </activity>

        <activity
            android:name=".EActivity.EditExpense"
            android:label="@string/title_activity_edit_income_outcome"
            android:theme="@style/MyMaterialTheme"
            android:parentActivityName=".MActivity.MainActivity" >

        </activity>

        <activity
            android:name=".EActivity.EditIncomes"
            android:label="@string/title_activity_edit_income_outcome"
            android:theme="@style/MyMaterialTheme"
            android:parentActivityName=".MActivity.MainActivity" >

        </activity>
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
</manifest>
